*{
padding:0;
margin:0;
box-sizing:border-box;

}

html{scroll-behaviour:smooth}
body{
	
	color:#173b6c!important;
	
	
}
	
	
	li{
		list-style:none;
	}
ul	a{
		text-decoration:none;
		color:white!important;
	}
	
	
.row{
	display:flex;'
	flex-wrap:wrap;
}

#sec-1{
	background-color:#173b6c;
	position:fixed;
	top:0;
	width:100%;
	z-index:1;
	color:black!important;
	
	
	
	
	
}

.logo{
	opacity:0;
	animation:slideRight 1s ease forwards;
}

.ul-line li a{
	position:relative;
	opacity:0;
	animation:slideTop .5s linear forwards;
	animation-delay:clac(.2s * var(--i));
	
}

.ul-line li a:hover::after{
	transform:scaleX(1);
	transform-origin:bottom-right;
	
}

.ul-line li a::after{
	
	position: absolute;
    content: "";
    background-color:#1499dd;
    height: 4px;
    width: 100%;
    top: 35px;
    left: 0px;
	border-radius:5px;
	transform:scaleX(0);
	transform-origin:bottom-right;
	transition:all 0.4s ease-in-out;
	
	
	
	
}

.ul-line{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:center;
	font-size:20px;
}

.menuu{
	cursor:pointer;
	display:none;
}

.line{
	background-color:white;
	height:3px;
	width:40px;
	margin:10px 0px;
}

@keyframes slideRight {
	
	
	0% {
		transform:translateX(-100px);
		opacity:0;
	}
	100%{
		transform:translateX(0px);
		opacity:1;
	}
	
	
}


@keyframes slideLeft {
	
	
	0% {
		transform:translateX(100px);
		opacity:0;
	}
	100%{
		transform:translateX(0px);
		opacity:1;
	}
	
	
}

@keyframes slideTop {
	
	
	0% {
		transform:translateY(100px);
		opacity:0;
	}
	100%{
		transform:translateY(0px);
		opacity:1;
	}
	
	
}

@keyframes slideBottom {
	
	
	0% {
		transform:translateY(-100px);
		opacity:0;
	}
	100%{
		transform:translateY(0px);
		opacity:1;
	}
	
	
}

@media (max-width:991px){
	
	
	.nav{
		flex-direction:coloumn!important;
		 
	}
	
	.ul-line{
		display:block;
		text-align:center;
		display:none;
		padding-top:30px;
		transition: 2s all ease-in-out; 
		
	}
	.ul-line{
		margin-top:30px;
	}
	.sathish{
		display:block;
		position:absolute;
		left:80%;
		top:10px;
		transition: 2s all ease-in-out; 
	}
	.ul-line li{
		margin:10px 0px;
	}
	.showmenu{
		display:block;
	}
	
	.log h1{
		text-align:start;
	}
}


/* ..............................................................section-2......................... */




.home{
	position:relative;
	width:100%;
	height:100vh;
	background-color:#173b6c;
	display:flex;
	align-items:center;
	justify-content:start;
	padding-left:50px;
}


.home-content{
	max-width:600px;
}

.home-content h3{
	font-size:32px;
	font-weight:700;
	opacity:0;
	animation:slideBottom 1s ease forwards;
	animation-delay:.7s;
}

.home-content h3 span{
	color:#0ef;
	
}

.home-content h3:nth-of-type(2){
	margin-bottom:30px;
	animation:slideTop 1s ease forwards;
	animation-delay:.7s;
	
	
}

.home-content h1{
	font-size:56px;
	font-weight:700;
	margin:-3px 0;
	opacity:0;
	animation:slideRight 1s ease forwards;
	animation-delay:1s;
	
}


.home-content p{
	font-size:20px;
	opacity:0;
	animation:slideLeft 1s ease forwards;
	animation-delay:1s;
}


.home-scl a{
	display:flex;
	justify-content:center;
	align-items:center;
	width:40px;
	height:40px;
	background:transparent;
	border:2px solid #0ef;
	border-radius:50%;
	font-size:20px;
	margin:30px 15px 30px 0;
	color:white;
	transition:.5s ease;
	opacity:0;
	animation:slideLeft 1s ease forwards;
	animation-delay:calc (.2s * var(--i));
}


.home-scl a:hover{
	
	background:#0ef;
	color:#081b29;
	box-shadow:0 0 20px #0ef;
	
}

.btn-boxx{
	display:inline-block;
	padding:12px 28px;
	background:#0ef;
	border-radius:40px;
	font-size:16px;
	color:#081b29;
	text-decoration:none;
	font-weight:600;
	opacity:0;
	animation:slideTop 1s ease forwards;
	animation-delay:2s;
	box-shadow:0 0 5px #0ef,0 0 25px #0ef;
	
}

.btn-boxx:hover{
	box-shadow:0 0 05px cyan,0 0 25px cyan,0 0 50px cyan,0 0 100px cyan,
	0 0 200px cyan;
	
}

.img-height{
	height:70vh;
	
}



/* .........................................................................section-3............................................................................ */









.about-me h1{
	color:#173b6c;
	
}

.about-me {
	
	position:relative;
	

	
	
}

.about-me h1::after{
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:10%;
	height:7px;
	bottom:-8px;
	left:10px;
	border-radius:5px;
	padding-bottom:5px;
	
}





.img-content img{
	width:100%;
	height:50vh;
	border: 3px solid white; 
}

.img-content img{
	position:relative;
	
}







.head-intro h3{
	color:#173b6c!important;
}





/* ..............................................................................................section-4....................................................... */


.resume{
	position:relative;
}

.resume h1::after{
	
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:8%;
	height:7px;
	bottom:-8px;
	left:10px;
	border-radius:5px;
	padding-bottom:5px;
}

.card-1{
	position:relative;
}

.card-1::after{
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:2px;
	height:90%;
	top:8px;
	left:15px;
	border-radius:5px;
	padding-bottom:5px;
}


.card-2{
	position:relative;
}

.card-2::after{
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:2px;
	height:90%;
	top:8px;
	left:15px;
	border-radius:5px;
	padding-bottom:5px;
}


/* ...............................................................................section-skills............................................................. */


/* #skill-sec{ */
	/* background-color:gray; */
/* } */


/* ......................................................html............................... */





.my-skill h1{
	color:white;
	text-align:start;
	
}

.my-skill {
	
	position:relative;
	

	
	
}

.my-skill h1::after{
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:10%;
	height:4px;
	bottom:-8px;
	left:1%;
	border-radius:5px;
	padding-bottom:5px;
	
}
#skill-sec{
	background-color:#173b6c;
}
.html{
	background-color:white;
	height:8px;
	width:100%;
	position:relative;
}

.html-1{
	background-color:#1499dd;
	height:8px;
	width:95%;
	position:absolute;
}

.css{
	background-color:#1499dd;
	height:8px;
	width:88%;
	position:absolute;
}

.js{
	background-color:#1499dd;
	height:8px;
	width:85%;
	position:absolute;
}

.reactjs{
	background-color:#1499dd;
	height:8px;
	width:80%;
	position:absolute;
}

.html::after{
	position:absolute;
	background-color:#1499dd;
	height:50px;
	width:50px;
	top:20px;
	left:20px;
}




/* #my-crc{ */
	/* background:black linear-gradient(#355574,#355574); */
/* } */

.crc{
	overflow:hidden;
	background-color:#1499dd;
	
	width:100%;
	
	
}

.project{
	background:linear-gradient(#173b6c,#173b6c)
}

.c-img{
	border: ;
	border-radius:5px;
}

.crc-icon a{
	position:absolute;
	background-color:#00000042;
	/* left:50%; */
	bottom:0px;
	width:100%;
    padding:5px 0px;
	text-align:center;
	opacity:0;
	transition:0.5s all ease-in-out;
}

.crc:hover a{
	opacity:1;
	transition:0.5s all ease-in-out;
	padding:30px 0px;
	
}	

.crc{
	position:relative;
}

.crc::after{
	    content: "";
    position: absolute;
    background-color: #00000042;
    /* background-color: black; */
    top: 0;
    left: -300px;
    width: 20%;
    height: 100%;
    transform: skewX(45deg);
	transition:all 1.3s ease-in-out;
}

.crc:hover::after{
	
	margin:0px 1000px;
	
}





/* ................................................................section.............last................................................................ */


.contact{
	position:relative;
}

.contact h1::after{
	
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:8%;
	height:7px;
	bottom:-8px;
	left:15px;
	border-radius:5px;
	padding-bottom:5px;
}




.lo-icon i{
	color:#1499dd;
}

.send a{
	color:white;
	background-color:#1499dd;
	border-radius:10px;
}

.inputs input,textarea{
	
	border: 1px solid #80808038;
	outline:none;
}






/* .........................................................................................column............................................................... */

.col-1
{
	width:8.33%;
	
}
.col-2
{
	width:16.66%;
	
}
.col-3
{
	width:25%;
	
}
.col-4
{
	width:33.33%;
	padding:0 15px;
}
.col-5
{
	width:41.66%;
	padding:0 15px;
}
.col-6
{
	width:50%;
	padding:0 15px;
}
.col-7
{
	width:58.33%;
	padding:0 15px;
}
.col-8
{
	width:66.66%;
	padding:0 15px;
}
.col-9
{
	width:75%;
	
}
.col-10
{
	width:83.33%;
	
}
.col-11
{
	width:91.66%;
	padding:0 15px;
}
.col-12
{
	width:100%;
	padding:0 15px;
}




/* ..............................................responsive.......... */




@media (max-width:640px){
	
	
	.about-me h1{
	color:#173b6c;
	
}

.about-me {
	
	position:relative;
	

	
	
}

.about-me h1::after{
	position:absolute;
	content:"";
	background-color:#1499dd;
	width:20%;
	height:7px;
	bottom:-8px;
	left:10px;
	border-radius:5px;
	padding-bottom:5px;
	
}

	
	
}
